# IDE-specific files
.idea/
.vscode/
.project

# cache
__pycache__/
.cache

# files and folders specific to this project
results/**/
notebooks/*.ipynb
scripts/*.bash
scripts/*.ps1
models/**/*.pt
models/**/*.npy
models/**/*.sav