# IDE-specific files
.idea/
.vscode/
.project

# cache
__pycache__/
.cache
.neptune/

# files and folders specific to this project
results/**/
results/**/*.csv
notebooks/*.ipynb
scripts/*.bash
scripts/*.ps1
models/**/*.pt
models/**/*.npy
models/**/*.sav